.DS_Store
.DS_Store
hw1/__pycache__/testing.cpython-310.pyc
hw1/__pycache__/training.cpython-310.pyc
hw1/answers/hw1/utils/__pycache__/data_utils.cpython-311.pyc
hw1/answers/hw1/utils/__pycache__/data_utils.cpython-312.pyc
hw1/data/cifar-10-batches-py/batches.meta
hw1/data/cifar-10-batches-py/data_batch_1
hw1/data/cifar-10-batches-py/data_batch_2
hw1/data/cifar-10-batches-py/data_batch_3
hw1/data/cifar-10-batches-py/data_batch_4
hw1/data/cifar-10-batches-py/data_batch_5
w5/notebooks/assets/anchor_box.png
w5/notebooks/assets/annotated_output_neurons.png
w5/notebooks/assets/detection_output_neurons.png
w5/notebooks/assets/find_snail.png
w5/notebooks/assets/iou-example.png
w5/notebooks/assets/iou-formula.webp
w5/notebooks/assets/mcqueen_real.png
w5/notebooks/assets/mcqueen.jpeg
w5/notebooks/assets/minesweeper_segmentation.png
w5/notebooks/assets/nms.png
w5/notebooks/assets/semantic_vs_instance.png
w5/notebooks/assets/sliding_snail.gif
w5/notebooks/assets/sliding_window_conv.png
w5/notebooks/assets/snail.png
w5/notebooks/assets/unet.png
w5/notebooks/assets/upconv.gif
w5/notebooks/assets/yolo_dls.png
w7/notebooks/charlm/model/model_charlm.pt
w7/notebooks/emotion/model/model_emotion.pt
w5/notebooks/assets/yolo_dls.png
w4/notebook/pyproject.toml
hw1/utils/__pycache__/model.cpython-310.pyc
hw1/utils/__pycache__/data_utils.cpython-310.pyc
hw1/data/cifar-10-batches-py/test_batch
hw1/data/cifar-10-python.tar.gz
hw1/.DS_Store
.DS_Store
hw1/data/cifar-10-batches-py/batches.meta
hw1/answers/hw1/utils/__pycache__/viz_utils.cpython-312.pyc
hw1/answers/hw1/utils/__pycache__/model.cpython-312.pyc
hw1/answers/hw1/utils/__pycache__/model_utils.cpython-312.pyc
hw1/answers/hw1/utils/__pycache__/model_utils.cpython-311.pyc
hw1/answers/hw1/utils/__pycache__/data_utils.cpython-312.pyc
